<!DOCTYPE html>
<html>
	<head>
		<title>GMAIL API SAMPLE</title>
	</head>
	<body>
		<font face="calibri">
		<h1>
			<a href="send_message_view">SEND MESSAGE</a><br>
			<a href="message_list">LIST MESSAGE</a>
		</h1>
		</font>
	</body>
</html>