<!DOCTYPE html>
<html>
	<head>
		<title>GMAIL API SAMPLE</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
			
				var tData="";
				$.get('get_message_list',function(data, status){
					data=JSON.parse(data)
						for(i=0; i<data.length; i++)
						{
							tData+="<tr><td>"+data[i]['sender']+"</td><td>"+data[i]['snippet']+"</td><td><button>READ</button> <button>DELETE</button></tr>"
						}
						$("#tblData").html(tData);
						alert(tData);
					});
			});
		</script>
	</head>
	<body>
		<font face="calibri">
		<table border=1 cellpadding=5>
			<h3>MESSAGE LIST</h3>
			<thead>
				<th>SENDER</th>
				<th>MESSAGE</th>
				<th>ACTION</th>
			</thead>
			<tbody id="tblData">
			</tbody>
		</table>
		<span id="loading">LOADING PLEASE WAIT</span>
		</font>
	</body>
</html>