<!DOCTYPE html>
<html>
	<head>
		<title>GMAIL API SAMPLE</title>
	</head>
	<body>
		<h1>
			{{projectTitle}}<br><br>
			<a href="gmail">CONNECT TO GMAIL</a>
			<a href="refresh_token">REFRESH TOKEN</a>
		</h1>
	</body>
</html>