<!DOCTYPE html>
<html>
	<head>
		<title>GMAIL API SAMPLE</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#sendBtn").click(function(){
					$.post('send_message',
					{
						to: $("#to").val(),
						subject: $("#subject").val(),
						message: $("#message").val()
					},
					function(data, status)
					{
						alert(data.response)
					})
				})
			});
		</script>
	</head>
	<body>
		<label>TO:</label><br>
		<input type="text" size=54 id="to"><br>

		<label>SUBJECT:</label><br>
		<input type="text" size=54 id="subject"><br>
		<label>MESSAGE: </label><br>
		<textarea rows=10 cols=50 id="message">
		</textarea><br>

		<button id="sendBtn">SEND</button>
	</body>
</html>